h1, h2, h3, h4, p {
    
}

li a {
    font-size: 18px;
}

body {
    background: white url("images/background.gif") no-repeat;
    margin-left: 20px !important;
}

.button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: solid 0px black;
    border-radius: 2px;
    text-decoration: none !important;
    padding: 8px;
    background-color: rgb(220, 220, 220);
    color: rgb(0, 0, 0);
    font-size: 14px !important;
    margin-left: 0px;
}

input {
    border: solid 0px black;
    border-radius: 2px;
    text-decoration: none;
    padding: 8px;
    background-color: rgb(129, 245, 80);
    color: rgb(0, 0, 0);
    font-size: 14px !important;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}
